:root {
  --grey: #bfc0c0;
  --console: #21211f;
  --lime: #23bd20;
  --red: #cc3025;
}

html { 
  height: 100%; 
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: black;
  color: var(--grey);
  margin: 0; 
  padding: 2%; 
  font-family: sans-serif; 
}

.main {
  width: 90%; 
  height: 90%; 
  background: black;
  border-radius: 2em;
  padding: 2%; 
  border: 2px solid var(--grey);
  box-shadow: 0px 0px 1.5em var(--grey); 
  margin: 0 auto; 
}

.typing-text {
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 1.25em; 
  padding-top: 0.9em; 
  font-size: 2em; 
  letter-spacing: .08em; 
  text-align: center;
  animation: typing 3.5s steps(40, end); 
}

@keyframes typing {
  from {
    width: 0;
    color: var(--grey);
  }
  to {
    width: 100%;
    color: white;
  }
}

.console {
  background: var(--console);
  font-weight: normal;
  font-size: 1.2em;
  padding: 1em; 
  word-spacing: 2px; 
  border-radius: 1.25em; 
  line-height: 0.5; 
}

.console q {
  color: var(--grey);
}

.console q::before {
  content: "tanvish@root:~$ ";
  color: var(--lime);
}

.console p {
  color: var(--grey);
}

.console p::before {
  content: "> ";
  color: var(--red);
}

@media only screen and (max-width:600px) {
  .typing-text {
    font-size: 1.5em;
  }
}

@media only screen and (min-width:1800px) {
  .typing-text {
    font-size: 2.2em; 
  }
}
