@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu-sans);
  --font-mono: var(--font-ubuntu-mono);
  --animate-fadeIn: fade-in 1s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #050505;
  color: var(--foreground);
  min-height: 100vh;
  font-family: var(--font-sans);
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
